:root {
    --text-font: "Roboto",
        "Arial",
        sans-serif;
    --sidebar-color: #1992d4;
    --light-grey: #e3e9f0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: var(--text-font);
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

/* Sidebar */
.sidebar {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 35% 30%;
    gap: 50px;
}

.sidebar-header {
    font-size: 30px;
    color: white;
    font-family: var(--text-font);
}

.icon-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
}

.sidebar-menu ul {
    padding: 0;
}

.sidebar .icon-img {
    width: 50px;
    height: 50px;
    object-fit: fill;
    filter: invert(100%); /* Completely inverts colors */
}

.sidebar-menu .icon-img {
    width: 30px;
    height: 30px;
}

.sidebar-menu .icon-text {
    padding-left: 35px;
}

.sidebar-menu li {
    font-size: 25px;
    list-style-type: none;
    color: white;
    font-family: var(--text-font);
}

/* Header */
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 30% 70%;
}

.header-top {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 30px;
}

.search-icon-bar {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.search-bar {
    width: 75%;
    border-radius: 20px;
    background-color: var(--light-grey);
    border: 1px solid #ccc;
    padding: 10px 15px;
}

.header .icon-img {
    width: 30px;
    height: 30px;
    object-fit: fill;
}

.user-icons,
.dash-buttons-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.profile-img {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.user-name {
    font-family: var(--text-font);
    font-weight: bold;
}

.header-top .user-name {
    font-size: 20px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 30px;
}

.profile-welcome {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 20px;
}

.header-bottom .profile-img {
    width: 75px;
    height: 75px;
}

.dash-buttons {
    color: white;
    background-color: var(--sidebar-color);
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 30px;
    font-family: var(--text-font);
}

/* Main-Content */
.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 75% 25%;
}

.text-cards-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.card-button {
    border: 0px;
    background-color: white;
}

.card-icon {
    width: 25px;
    height: 25px;
    object-fit: fill;
}