body,
html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

/* Sidebar */
.sidebar {
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 30% 30%;
    gap: 50px;
}

.sidebar-header {
    font-size: 30px;
    color: white;
}

.sidebar-menu li {
    font-size: 25px;
    list-style-type: none;
    color: white;
}



.header {
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}